/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(89, 12, 12);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

.post-wrapper {
  background-color: teal;
  border: 2px solid black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 0 20px;
  width: 800px;
  border-radius: 10px;
}

.post-title-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  font-weight: bolder;
}

.post-body-wrapper {
  text-align: center;
  font-size: 25px;
}

.post-list-wrapper {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.comment-post-form {
  text-align: center;
  margin-top: 10px;
}

.comment-list-wrapper {
    text-align: center;
    border: 5px solid hotpink;
    background: yellowgreen;
    font-size: 20px;
    margin-top: 15px;
    border-radius: 10px;
}

.comment-wrapper {
  border: 5px solid whitesmoke;
  border-radius: 10px;
}

#create-post-button {
  margin-top: 20px;
  border-radius: 12px;
  width: 100%;
}

.Create-new-post-title {
  text-align: center;
}

.create-post-form {
  text-align: center;
}