<div>
    <h1>Create New Post</h1>
    <div class="create-post-form">
        <input id="post-title" type="text">
        <input id="post-body" type="text">
        <button id="submit-post-button">Submit</button>
    </div>

</div>
<script src="/js/createpost.js"></script>