<head>
  <meta charset="UTF-8">
  <title>The Tech Blog</title>
</head>
<body>
  <div>
    <header>
      <h1>
         The Tech Blog 
      </h1>
    </header>
      <main>
     {{{ body }}}
      </main>
  </div>
  </body>

</html>


