<head>
  {{!-- <link rel="stylesheet" href="/css/reset.css"> --}}
  <link rel="stylesheet" href="/css/homepage.css">
  <link rel="stylesheet" href="/css/login.css">
  <meta charset="UTF-8">
  <title>The Tech Blog</title>
</head>
<body>
  <div>
    <header>
      <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a id="logout">Logout</a>
      </div>
    </header>
      <main>
     {{{ body }}}
      </main>
  </div>
  </body>

</html>

<script src="/js/logout.js"></script>


